<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal</title>
    <link rel="stylesheet" href="../web/journal.css">
</head>
<body>
    <header>
        <h1>Journ@l </h1>
        <div >
            <a href="../models/connexionMembres.php">
                <button>Connexion Membre</button>
            </a>
        </div>
        <div>
            <a href="../models/inscriptionMembres.php">
                <button>Inscription Membre</button>
            </a>
        </div>
    </header>

</body>
</html>