<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="" >
        <input type="text" name="pseudo" autocomplete="off">
        <br/>
        <input type="mdp" name="mdp" id="" autocomplet="off">
        <br/><br/>
        <input type="submit" name="envoi">
    </form>
    <a href="../controller/connexionMembres.php">Je suis un utilisateur</a>
</body>
</html>