<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publier un article</title>
    <link rel="stylesheet" href="../web/publication.css">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>

    <div class="commentaire">
        <form action="" method="post">
            <label for="titre">Titre</label>
            <input type="text"name="titre">
            <br>
            <label for="contenu"> Description</label>
            <textarea name="contenu" id="" cols="30" rows="10"></textarea>
            <br>
            <input type="submit" name="envoi">
        </form>
    </div>
    <div class="back-button">
        <a href="../models/index.php"><button>retour
        </button></a>
    </div>
</body>
</html>