
header{
    background-color: grey;
    display: flex;
    border: 7px solid rgb(0, 0, 0);

}

footer{
    background-color: grey;
    display: flex;
    margin-top: 45.2vh;
    border: 7px solid rgb(0, 0, 0);
}
